.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  height: 48px;
  padding: 8px 14px;
  gap: 0px;
  border-bottom: 2px solid rgb(49, 49, 49);
  background-color: rgb(27, 27, 27);
}
.header .header__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1px;
  text-align: center;
  gap: 0;
}
.header .header__title::after {
  content: ".UZ";
  color: rgb(57, 150, 95);
}
.header .header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 24px;
}
.header .header__right ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
.header .header__right ul li a {
  position: relative;
  color: rgb(255, 255, 255);
}
.header .header__right ul li a:hover {
  padding-bottom: 13px;
}
.header .header__right ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(1);
  background-color: rgba(57, 150, 95, 0.6);
}
.header .header__right ul li .active {
  padding-bottom: 13px;
}
.header .header__right ul li .active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(1);
  background-color: rgb(57, 150, 95);
}
.header .header__right .header__right__git-link {
  padding: 2px;
  width: 32px;
  height: 32px;
  gap: 10px;
}

.sidebar {
  position: sticky;
  top: 48px;
  width: 288px;
  height: calc(100vh - 48px);
  border-right: 2px solid rgb(49, 49, 49);
  background-color: rgb(27, 27, 27);
}
.sidebar .sidebar__navigation {
  height: 40px;
  border-bottom: 2px solid rgb(49, 49, 49);
  gap: 20px;
  display: flex;
  padding: 0 10px;
}
.sidebar .sidebar__navigation button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 0 4px;
}
.sidebar .sidebar__profile {
  height: 376px;
  border-bottom: 2px solid rgb(49, 49, 49);
  padding: 14px;
}
.sidebar .sidebar__profile img {
  border-radius: 8px;
}
.sidebar .sidebar__profile .sidebar__profile__name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.sidebar .sidebar__profile .sidebar__profile__description {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
  margin-top: 10px;
}
.sidebar .sidebar__profile .sidebar__profile__description span {
  padding: 6 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  background-color: rgb(49, 49, 49);
}
.sidebar .sidebar__links {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar .sidebar__links .sidebar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.sidebar .sidebar__links .sidebar__link .sidebar__link__icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;
}
.sidebar .sidebar__links .sidebar__link .sidebar__link__icon_wrapper i {
  font-size: 22px;
}
.sidebar .sidebar__links .sidebar__link #git-icon {
  background-color: rgb(49, 49, 49);
}
.sidebar .sidebar__links .sidebar__link #git-icon i {
  background-color: rgb(49, 49, 49);
}
.sidebar .sidebar__links .sidebar__link #inst-icon {
  background: rgba(131, 58, 180, 0.5);
  background: linear-gradient(to right, rgba(131, 58, 180, 0.5), rgba(253, 29, 29, 0.5), rgba(252, 176, 69, 0.5));
}
.sidebar .sidebar__links .sidebar__link #inst-icon i {
  background-color: rgba(253, 29, 29, 0.1);
}
.sidebar .sidebar__links .sidebar__link #telegram-icon {
  background-color: rgba(27, 146, 209, 0.25);
}
.sidebar .sidebar__links .sidebar__link #telegram-icon i {
  background-color: rgba(27, 146, 209, 0.05);
}
.sidebar .sidebar__links .sidebar__link a {
  width: 200px;
  overflow: hidden;
}
.sidebar .sidebar__links .sidebar__link a .social__media {
  font-size: 16px;
  font-weight: 500;
}
.sidebar .sidebar__links .sidebar__link a .social__link {
  font-size: 12px;
  font-weight: 400;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 48px);
  background-image: url("../body_bg.jpg");
  gap: 24px;
}
.home .home__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
.home .home__title .home__title__name {
  color: rgb(57, 150, 95);
}
.home .home__text {
  width: 633px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40 20px;
}
.about .about__me__text {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  row-gap: 20px;
  font-size: 18px;
}
.about .nav_button {
  margin-top: 36px;
}
.about .about__technologies {
  margin-top: 48px;
}
.about .about__technologies .about__technologies__list {
  margin-top: 36px;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.about .about__technologies .about__technologies__list .technology__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  background-color: rgb(27, 27, 27);
  border: 2px solid rgb(49, 49, 49);
  border-radius: 0.75rem;
}
.about .about__technologies .about__technologies__list .technology__item .technology__logo {
  height: 64px;
  width: 64px;
  object-fit: contain;
}
.about .about__technologies .about__technologies__list .technology__item .technology__name {
  display: none;
  font-size: 22px;
}
.about .about__do {
  margin-top: 48px;
}
.about .about__do .about__do-list {
  margin-top: 36px;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.about .about__do .about__do-list .do__item {
  display: flex;
  align-items: center;
  height: 8rem;
  background-color: rgb(27, 27, 27);
  border: 2px solid rgb(49, 49, 49);
  border-radius: 0.75rem;
  gap: 1.25rem;
  padding: 1.25rem;
}
.about .about__do .about__do-list .do__item .do__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.about .about__do .about__do-list .do__item .do__text .do__text__title {
  font-size: 18px;
  font-weight: 700;
}
.about .about__do .about__do-list .do__item .do__text .do__text__description {
  font-size: 16px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(49, 49, 49) #000;
  scrollbar-gutter: stable;
  color: rgb(229, 231, 235);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

.content_wrapper {
  display: flex;
  background-image: url("../body_bg.jpg");
}

.nav_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 150, 95);
  padding: 10 36px;
  gap: 12px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  max-width: 200px;
}
.nav_button .arrow_icon {
  font-size: 22px;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_button:hover {
  background-color: rgba(57, 150, 95, 0.6);
}
.nav_button:hover .arrow_icon {
  transform: translateX(5px);
}

.title_main {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  gap: 8px;
}
.title_main::after {
  content: "";
  display: inline-block;
  border-radius: 9999px;
  background-color: rgb(57, 150, 95);
  height: 0.5rem;
  width: 8rem;
}

.title_sub {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap: 8px;
}
.title_sub::after {
  content: "";
  display: inline-block;
  border-radius: 9999px;
  background-color: rgb(57, 150, 95);
  height: 0.375rem;
  width: 7rem;
}