@mixin center_justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

