@mixin center_justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin title_underline {
  content: "";
  display: inline-block;
  border-radius: 9999px;
  background-color: $green;
}
