$font: "Poppins", sans-serif;

$dark_gray: rgba(27, 27, 27, 1);
$dark_gray_transparent: rgba(27, 27, 27, 0.5);
$light_gray: rgb(229, 231, 235, 1);
$border_color: rgb(49, 49, 49, 1);
$link_color: rgb(65, 65, 65);
$transparent_gray: rgba(255, 255, 255, 0.25);
$white: rgba(255, 255, 255, 1);
$green_opacity: rgba(57, 150, 95, 0.6);
$green: rgba(57, 150, 95, 1);

$border_style: 2px solid $border_color;

$font_size_16: 16px;
$font_size_18: 18px;
$font_size_22: 22px;
$font_size_12: 12px;
$font_size_14: 14px;
$font_size_30: 30px;
$font_size_36: 36px;
$font_size_20: 20px;

$header_hight: 48px;
$sidebar_width: 288px;

$medium_font-weight: 500;
$normal_font-weight: 400;
$extra_font-weight: 700;

$bg-image: url("../body_bg.jpg");

$normal_border-radius: 8px;
