$dark_grey: rgba(27, 27, 27, 1);
$border_color: rgb(49, 49, 49, 1);
$transparent_grey: rgba(255, 255, 255, 0.05);
$white: rgba(255, 255, 255, 1);
$green_opacity: rgba(57, 150, 95, 0.5);
$green: rgba(57, 150, 95, 1);

$border_style: 2px solid $border_color;

$text_size_16: 16px;
$text_size_22: 22px;
